@model Exam.PL.DTO.LoginDTO

@{
    ViewData["Title"] = "Login";
}



        <main>

            <section class="sign-in-form section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 mx-auto col-12">
                        @if (ViewBag.Message != null)
                            {
                              <p style="color:green" class="mt-1 mb-2">@ViewBag.Message</p>
                            }
                            <h1 class="hero-title text-center mb-5">Sign In</h1>

                            <div class="row">
                                <div class="col-lg-8 col-11 mx-auto">
                            <form asp-action="Login" asp-controller="Account" method="post">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                        <div class="form-floating mb-4 p-0">
                                       <input id="email" asp-for="Email" class="form-control" value="Ayman.Fathy.Elbatata@gmail.com" placeholder="Email address" required>
                                        <a href="#" id="changeEmail">Click to use a User Account</a>
                                    

                                        <label asp-for="Email">Email address</label>
                                         @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="form-floating p-0">
                                    <input asp-for="Password" value="Aym@9841" class="form-control" placeholder="Password" type="password" required>

                                            <label asp-for="Password">Password</label>
                                           @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="form-floating p-0">
                                    <input asp-for="RememberMe" class="form-check-input" checked asp-for="RememberMe"> @Html.DisplayNameFor(model => model.RememberMe)
                                </div>

                                        <button type="submit" class="btn custom-btn form-control mt-4 mb-3">
                                            Sign in
                                        </button>
                                 <a class="text-decoration-underline mt-2 mb-2" asp-controller="Account" asp-action="Register">Don't Have an account, Register now!</a>

                                    </form>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </section>

        </main>






<script>
    // attach event to <a>
    document.getElementById("changeEmail").addEventListener("click", function(e) {
      e.preventDefault(); // stop link behavior
      document.getElementById("email").value = "ayman_elbatata@outlook.com";
    });
</script>