@model Exam.PL.DTO.RegisterDTO

@{
    ViewData["Title"] = "Register";
}

        <main>

            <section class="sign-in-form section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 mx-auto col-12">

                            <h1 class="hero-title text-center mb-5">Register</h1>

                            <div class="row">
                                <div class="col-lg-8 col-11 mx-auto">
                            <form asp-action="Register" asp-controller="Account" method="post">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                        <div class="form-floating mb-4 p-0">
                                       <input id="email" asp-for="Email" class="form-control" value="Samara@gmail.com" placeholder="Email address" required>
                                        <label asp-for="Email">Email address</label>
                                         @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-floating p-0">
                                        <input asp-for="Password" value="Aym@9841" class="form-control" placeholder="Password" type="password" required>
                                        <label asp-for="Password">Password</label>
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-floating p-0">
                                        <input asp-for="ConfirmPassword" value="Aym@9841" class="form-control" placeholder="Confirm Password" type="password" required>
                                        <label asp-for="ConfirmPassword">Confirm Password</label>
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-floating mb-4 p-0">
                                       <input id="FirstName" asp-for="FirstName" class="form-control" value="Kamal" placeholder="First Name" required>
                                          <label asp-for="FirstName">First Name</label>
                                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-floating mb-4 p-0">
                                       <input id="LastName" asp-for="LastName" class="form-control" value="Osama" placeholder="Last Name" required>
                                        <label asp-for="LastName">Last Name</label>
                                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                        </div>
                                        <button type="submit" class="btn custom-btn form-control mt-4 mb-3">
                                            Register
                                        </button>


                                    </form>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </section>

        </main>



